button{
    background-color: black;
    border-color: white;
    outline: 0;
    text-align: center;
    color: whitesmoke
}
button:hover{
    background-color: gray
}
button:active{
    background-color: black;
}